:root { 
--purple_100:#dcaeff; 
--white_A700_7f:#ffffff7f; 
--indigo_A200:#6054f0; 
--amber_A200:#ffc93f; 
--black_900_3f:#0000003f; 
--deep_purple_200:#b882e1; 
--yellow_400:#ffe560; 
--white_A700_11:#ffffff11; 
--white_A700_33:#ffffff33; 
--white_A700_75:#ffffff75; 
--yellow_401:#ffe660; 
--black_900:#000000; 
--black_902:#0c0c0c; 
--black_901:#0e0e0e; 
--gray_900_a2:#191a1aa2; 
--white_A700_19:#ffffff19; 
--gray_903:#191a1b; 
--white_A700_4c:#ffffff4c; 
--black_900_4c:#0000004c; 
--white_A700_0c:#ffffff0c; 
--gray_901:#1e1e1e; 
--amber_600:#ecaf10; 
--gray_900_00:#1e1e1e00; 
--gray_900:#141414; 
--white_A700_87:#ffffff87; 
--bluegray_900:#353535; 
--white_A700_26:#ffffff26; 
--white_A700_07:#ffffff07; 
--white_A700:#ffffff; 
--indigo_600:#3c32bc; 
}